<footer class="foot">
    <div class="footer">
    <div class="footer-col">
        <b>Site Map</b>
        <br/>
        <a class="link-col"  href="/home">Home</a>
        <a class="link-col"  href="/about">About</a>
        <a class="link-col"  href="/pricing">Pricing</a>
    </div>
    <div class="footer-col">
        <b>Address</b>
        <br/>
        485 Udyog Vihar<br/>
        Gurgaon,Haryana<br/>
        Mobile No:	802-505-1847
    </div>
    <div class="footer-col">
        <b>Social</b>
        <br/>
        <a class="link-col" href="/">Facebook</a>
        <a class="link-col" href="/">Twitter</a>
        <a class="link-col" href="/">Instagram</a>
        <a class="link-col" href="/">Reddit</a>
    </div>

</div>
</footer>
<style>
    body{
        margin: 0;padding: 0;
    }
.footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
        padding: 3rem 2rem;
        margin: 0;
        background-color: teal;
        color: white;
        position: ;
  bottom: 0;
  width: 95%;
    }
  .link-col{
    color: white;
  }
    .footer-col {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        justify-self: center
        align-items:center
    }
</style>